{% extends 'base.html.twig' %}

{% block title %}QuestionsAndAnswers{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <table class="table">
        <thead>
        </thead>
        <tbody>
        <div id="qna">
            {% for questions_and_answer in questions_and_answers%}
                <tr>
                    <td><div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ questions_and_answer.Id }}" aria-expanded="false" aria-controls="collapse{{ questions_and_answer.Id }}">
                                            {{ questions_and_answer.Id }} {{ questions_and_answer.Questions }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse{{ questions_and_answer.Id }}" class="collapse show" aria-labelledby="heading{{ questions_and_answer.Id }}" data-parent="#accordion">
                                    <div class="card-body">
                                        {{ questions_and_answer.Answers }}
                                        <ul class="buttonshowedit float-right">
                                            <br>
                                            <a href="{{ path('questions_and_answers_show', {'id': questions_and_answer.id}) }}"><button type="button" class="btn btn-outline-primary btn-sm">Show Data</button></a>
                                            <a href="{{ path('questions_and_answers_edit', {'id': questions_and_answer.id}) }}"><button type="button" class="btn btn-outline-primary btn-sm">Edit Data.</button></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </div>
        </tbody>
    </table>
{% endblock %}
