{% extends 'base.html.twig' %}

{% block title %}QuestionsAndAnswers{% endblock %}

{% block stylesheets %}
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
        #accordion {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .sticky {
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: 0px;
            z-index: 100;
        }

        #qna {
            padding-top: 50px;
        }

        .bg-lighblue {
            background: #BBDEFB;
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: rgba(255,255,255,.8);
        }

        .navbar-custom .navbar-nav .nav-link {
            color: rgba(0, 0, 0, 1);
        }

        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:hover .nav-link {
            color: #FFFFFF;
        }

        .btn-search {
            background: #E3F2FC;
            color: black;
            border-color: black;
        }

        .btn-search:hover{
            background: #FFFFFF;
        }

        .navbar-nav{
            color: #FFFFFF;
        }

    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {#TODO MENU#}

    <nav class="navbar navbar-expand-lg bg-lighblue navbar-custom sticky border-bottom border-primary">
        <a class="navbar-brand" href="{{ path('questions_and_answers_index') }}">
            <img src="{{ asset('imgs/ebook.png') }}" alt="QNA" height="30px" width="30px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Content
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" target="_blank">FaceBook</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" target="_blank">Instagram</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://github.com/lscuquejo" target="_blank">GitHub</a>
                    </div>
                </li>
                <li class="nav-item" id="content">
                    <a class="nav-link" href="{{ path('questions_and_answers_new') }}">Create NEW</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item float-right">
                    <a class="nav-link" href="{{ path('questions_and_answers_new') }}">
                        <img src="{{ asset('imgs/github.png') }}" alt="QNA" height="30px" width="30px"/>
                    </a>
                </li>

                <li class="nav-item float-right">
                    <a class="nav-link" href="{{ path('questions_and_answers_new') }}">
                        <img src="{{ asset('imgs/facebook.png') }}" alt="QNA" height="30px" width="30px"/>
                    </a>
                </li>

                <li class="nav-item float-right">
                    <a class="nav-link" href="{{ path('questions_and_answers_new') }}">
                        <img src="{{ asset('imgs/instagram.png') }}" alt="QNA" height="30px" width="30px"/>
                    </a>
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" href="{{ path('questions_and_answers_new') }}">
                        <img src='{{ asset('imgs/ebook.png') }}' onmouseover="this.src='{{ asset('imgs/iebook.png') }}';" onmouseout="this.src='{{ asset('imgs/ebook.png') }}'"  alt="QNA" height="30px" width="30px"/>

                    </a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 btn-search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-search my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {#TODO MENU#}

    <table class="table">
        <thead>
        </thead>
        <tbody>
        <div id="qna">
            {% for questions_and_answer in questions_and_answers%}
                <tr>
                    <td><div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ questions_and_answer.Id }}" aria-expanded="false" aria-controls="collapse{{ questions_and_answer.Id }}">
                                            {{ questions_and_answer.Id }} {{ questions_and_answer.Questions }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse{{ questions_and_answer.Id }}" class="collapse show" aria-labelledby="heading{{ questions_and_answer.Id }}" data-parent="#accordion">
                                    <div class="card-body">
                                        {{ questions_and_answer.Answers }}
                                        <ul class="buttonshowedit float-right">
                                            <br>
                                            <a href="{{ path('questions_and_answers_show', {'id': questions_and_answer.id}) }}"><button type="button" class="btn btn-outline-primary btn-sm">Show Data</button></a>
                                            <a href="{{ path('questions_and_answers_edit', {'id': questions_and_answer.id}) }}"><button type="button" class="btn btn-outline-primary btn-sm">Edit Data.</button></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </div>
        </tbody>
    </table>
{% endblock %}
